.App {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
  transition: background-color 0.3s ease;
}

input {
  outline: none;
}
